<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
    <link href="/stylesheets/app.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="/">BLOG</a>
    <ul class="navbar-nav w-100 justify-content-between">
        <li class="nav-item">
            <!-- <a href="/" class="nav-link">Home</a> -->
        </li>
        <% if (user) { %>
            <div class="d-flex">
                <li class="nav-item">
                    <a href="/b/new" class="nav-link">Add Blog</a>
                </li>
                    <a href="/u/<%=user.username%>" class="nav-link text-primary"><%= user.username %></a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Logout</a>
                </li>
            </div>
            <% } else { %>
            <div class="d-flex">
                <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/signup" class="nav-link">Signup</a>
                </li>
            </div>
        <% } %>
    </ul>
</nav>
